<div class="myNav">
  <ul>
    <div id="left">
      <li id="explore"><a href="#">Explore</a></li>
      <li id="creator"><a href="#">I'm a creator</a></li>
    </div>
    <li id="logo"><a href="#">KICKSTARTER</a></li>
    <div id="right">
      <li id="search"><a href="#">Search</a></li>
      <li id="signIn"><a href="#">Sign in</a></li>
    </div>
  </ul>
  <div class="subNav">
    <ul class="subUl">
      <li class="sub"><a href="#">Arts</a></li>
      <li class="sub"><a href="#">Comics & Illustration</a></li>
      <li class="sub"><a href="#">Design & Tech</a></li>
      <li class="sub"><a href="#">Film</a></li>
      <li class="sub"><a href="#">Food & Craft</a></li>
      <li class="sub"><a href="#">Games</a></li>
      <li class="sub"><a href="#">Music</a></li>
      <li class="sub"><a href="#">Publishing</a></li>
    </ul>
  </div>
</div>